BOT_TOKEN=7969717939:AAHIRHdiDSizIFlJa4JA6yeIGInLmeDlGbU
POLZA_API_KEY=pza_rRfY1JQNSHHUzMTP24vxbAMkWDtlhjF8
POLZA_MODEL=openai/gpt-4o
POLZA_BASE_URL=https://api.polza.ai/v1
POLZA_HISTORY_MESSAGES_LIMIT=5
