BOT_TOKEN=7969717939:AAHIRHdiDSizIFlJa4JA6yeIGInLmeDlGbU      ВАШ_TELEGRAM_BOT_TOKEN_СЮДА
POLZA_API_KEY=pza_rRfY1JQNSHHUzMTP24vxbAMkWDtlhjF8          ВАШ_API_КЛЮЧ_POLZA.AI_СЮДА
POLZA_MODEL=openai/gpt-4o
POLZA_BASE_URL=https://api.polza.ai/v1
POLZA_HISTORY_MESSAGES_LIMIT=5
